.times {
  font-family: El Messiri;
  width: 20%;
  height: 250px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-right: 2%;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #f6f6f7;
  box-shadow: 1px 1px 4px #747373;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.times h4 {
  padding-bottom: 5px;
  padding-top: 35px;
}
.times img {
  width: 50px;
}
#allTimes {
  overflow-x: auto;
}
